.JD-main {
  padding: 16px;
  margin: 0 auto;

  >div {
    width: calc(50% - 26px);
    margin: 6px 12px;
    font-size: 14px;
    display: inline-block;
    position: relative;

    &:first-child {
      display: block;
      text-align: center;
      margin-left: 25%;
    }

    // 图片
    &:first-child>div:first-child {
      text-align: center;
      width: 150px;
      height: 200px;
      line-height: 200px;
      margin-left: calc(50% - 75px);
      margin-bottom: 16px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position:center center;
      border-radius: 5px;
      border: 1px solid #dcdee2;
      overflow: hidden;

      .img-input {
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
      }
    }

    select {
      width: 100%;
    }

    &:last-child,
    &:nth-last-child(2) {
      width: calc(100% - 24px);
    }
  }
}

.searchNav {
  position: absolute;
  z-index: 999;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(87, 163, 243);
  margin-top: 3px;
  padding-bottom: 16px;

  .searchNav-delete {
    width: 100%;
    padding: 8px 16px 0;
    margin-bottom: -16px;
    text-align: right;
    font-size: 16px;
    cursor: pointer;
  }
}

.JD-btn {
  text-align: center;
  margin-bottom: 24px;
}

.ivu-input-number-large {
  display: inline-block;
  width: 100%;
}